
h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: darkcyan;
}

canvas{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow:1px 1px 38px rgb(255, 112, 174)}
    to{box-shadow:1px 1px 38px rgb(142, 129, 255)}
}